* {box-sizing: border-box; margin: 0;}
html {
    height: 100%;
}

@font-face {
    font-family: 'Pixel';
    src:url('../../fonts/Pixel.ttf')
}

body {
    margin: 0;
    background-color: #0D262D;
    height: 100%;
    width: 100%;
}

.conteudo {
    text-align: center;
    color: #639301;
}

[flappy] {
    margin: 3px auto;
    position: relative;
    border: 5px solid dodgerblue;
    height: 570px;
    width: 100%;
    max-width: 1200px;
    background-color: deepskyblue;
    overflow: hidden;
}

.choices {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(229,128,6,1) 0%, rgba(229,128,6,1) 63%, rgba(255,161,0,1) 100%);
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute;
    top: 90px;
}

h2 {
    font-size: 2.3em;
    color: #0D262D;
}

button {
    text-align: center;
    background-color: #8B4513;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.377);
    cursor: pointer;
    transition: 0.3s;
}

button:active {
    transform: scale(0.96);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.360);
}

button:hover {
    color: red;
    background: white;
}

.bird {
    position: absolute;
    width: 45px;
    left: calc(50% - 30px);
}

.pair-of-barriers {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barrier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barrier .borde {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid #000;
}

.barrier .body {
    height: 50px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progress {
    color: rgba(229,128,6,1);
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 60px;
    z-index: 100;
}